<div class="container" ng-controller="HomeController">
	<div class="row no-gutter">
		
			<div class="col-md-8">
				<div class="form-group">
					<input type="text" name="placesearch" id="placesearch" ng-model="placesearch"  class="form-control" 
					placeholder="Search for Place.." model="selected" typeahead="cat.description for cat in allSubCats | filter:$viewValue"required />
					
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="form-actions">
					<button type="submit" ng-click="tsearch()" class="btn btn-default pull-left">Search</button>
				</div>
			</div>
		
	</div>
</div>
<div class="container-fluid">
	<div class="row no-gutter">
		<h3 class="pull-left">Or Browse From Below Categories:</h3>
	</div>
	<div class="row no-gutter">
		
			<div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="item in categories">
				<a href="{{item.navURL}}">
					 <img src="/GeoService/resources/img/categories/{{item.id}}.jpg" class="thumbnail img-responsive">
					 <div class="carousel-caption">
					  <h1>{{item.description}}</h1>
					</div>
				</a>
			</div>
		
	</div>
</div>
   

